select.input-lg {
  height: 46px;
  line-height: 46px;
}

.col-xs-6 {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;    
}
