---
layout: default
---

{% include sections/home-featured-news.html %}

{% include sections/home-hero.html %}

{% include sections/home-why-robotics.html %}

{% include sections/home-what-students-learn.html %}

{%- comment -%}{% include sections/home-learning-pathway.html %}{%- endcomment -%}

{% include sections/home-programs.html %}

{%- comment -%}{% include sections/home-contact.html %}{%- endcomment -%}

{% include sections/home-partner.html %}

{% include sections/home-blog-preview.html %}
